// Hero Styles

.hero {
    padding-top: 3em;
}
.nav-logo {
    border-radius: 50%;
    max-width: 65px;
}

.carousel-img {
    max-width: 250px;
    max-height: 200px;
   
}

.videoContainer {
    display: flex;
    justify-content: center;
    
    max-width: 320px;
    max-height: 220px;
    min-height: 190px;
}

.heroTitle {
    text-align: center;
    color: $white;
    margin-bottom: 2em;
}

.playlist {
    border: 1px solid white;
}